<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geolocation</title>
</head>
{% block content %}
<body>
    <div method="GET" action="/">
        <h1>LOCATON: {{coordinates['location']}}</h1>
        <h2>The latitude of the given location is: {{coordinates['latitude']}}</h2>
        <h2>The longitude of the given location is: {{coordinates['longitude']}}</h2>
    </div>
</body>
{% endblock content %}
</html>


<!-- lat = f"The latitude of the given address is: {res['latitude']}<br>"
    lon = f"The longitude of the given address is: {res['longitude']}<br><br>"

    msg = lat+lon+"Thank you for using this"
    # res = f"LATITUDE: {latitude}\nLONGITUDE: {longitude}"
    return msg -->
