<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geolocation</title>
</head>
<body>
    <center>
        <div>
            <br>
            <br>
        </div>
    <div>
        <!-- <form method="POST" action="/">
            <label for="curr_location">Enter Your Current Location or Address</label>
            <input type="text" name="curr_location"/>
            <input type="submit">
        </form> -->
        <form method="POST" action="/coordinates&weather">
            <label for="st_number">Enter Street Number</label>
            <input type="text" name="st_number"/>
            <br>
            <label for="st_name">Enter Street Name</label>
            <input type="text" name="st_name"/>
            <br>
            <label for="unit">Apartment/Unit Number</label>
            <input type="text" name="unit">
            <br>
            <label for="city">Enter City</label>
            <input type="text" name="city"/>
            <br>
            <label for="state">Enter State</label>
            <input type="text" name="state"/>
            <br>
            <label for="zip">Enter Zip Code</label>
            <input type="text" name="zip"/>
            <br><br>
            <input type="submit">
        </form>
    </div>
    <br><br>
    {% block msg %}
    {{message}}
    {% endblock msg %}
    </center>
</body>
</html>