<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Coordinates & Weather</title>
</head>
<body>
    {% block locations %}

        {{test}}
    

    
    {% endblock locations %}
</body>
</html>